# Continuous Probabilistic Methods

In [11]:
import numpy as np
import pandas as pd

import continuous_probabilistic_methods

IndentationError: expected an indented block (continuous_probabilistic_methods.py, line 9)

### 1. Using lemonade.csv dataset and focusing on continuous variables

In [9]:
df = pd.read_csv('~/codeup/anomaly_detection/lemonade.csv')

In [10]:
df

         Date        Day  Temperature  Rainfall  Flyers  Price  Sales
0      1/1/17     Sunday         27.0      2.00      15    0.5     10
1      1/2/17     Monday         28.9      1.33      15    0.5     13
2      1/3/17    Tuesday         34.5      1.33      27    0.5     15
3      1/4/17  Wednesday         44.1      1.05      28    0.5     17
4      1/5/17   Thursday         42.4      1.00      33    0.5     18
..        ...        ...          ...       ...     ...    ...    ...
360  12/27/17  Wednesday         42.7      1.00      33    0.5     19
361  12/28/17   Thursday         37.8      1.25      32    0.5     16
362  12/29/17     Friday         39.5      1.25      17    0.5     15
363  12/30/17   Saturday         30.9      1.43      22    0.5     13
364  12/31/17     Sunday         15.1      2.50       9    0.5      7

[365 rows x 7 columns]